.separator{
    border-style: double;
    border-top-width: thin;
    border-bottom-width: 0px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.13);
    margin: 5px;
    width: 80%;
    height: 0px;
    border-color: rgba(255, 255, 255, 0.49);
}
